################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LDtoVHDL/obj/Debug
/LDtoVHDL/bin/Debug
/*.psess
/*.user
/*.vsp
