component BLK_VAR_SELECTOR#signal_count#_#type# is
    port (INS        : in  #type#_vector(#max_vector_idx# downto 0);
          MEMORY_IN  : in  #type#;
          CONTROL    : in  std_logic_vector(#max_vector_idx# downto 0);
          Q          : out #type#);
end component;