library ieee;
use ieee.std_logic_1164.all;
use ieee.numeric_std.all;

library work;
use work.types.all;

entity BLK_NCC is
    port (EN      : in  std_logic;
          ENO     : out std_logic;
          MEM_IN  : in std_logic);
end BLK_NCC;

architecture Behavioral of BLK_NCC is
begin
	ENO <= (not MEM_IN) and EN;
end Behavioral;

